*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial,sans-serif;
    background-color: #f8f8f8;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: white;

}

.logo h2{
    color: #1b5e20;
    font-size: 28px;
    font-weight: bold;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-links a{
    text-decoration: none;
    color: #222;
    font-weight: 600;
}

.nav-links a:hover{
    color: #1b5e20;
}

.ticket-btn{
    background-color: #1b5e20;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.ticket-btn:hover{
    background-color: #145a1a;
}

.hero{
   width: 100;
   min-height: 90vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 70px 8%;
   background: #f8f4eb;
}

.hero-content{
    width: 45%;
}



.welcome{
  color: #0d5c2f;
  font-weight: 600;
}

.hero h1{
    font-size: 70px;
    line-height: 1.1;
    margin: 20px 0;
}

.hero h1 span{
    color: #1b5e20;
}

.description{
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}

.hero-buttons{
    display: flex;
    gap: 20px;
}

.explore-btn{
    background-color: #1b5e20;
    color: white;
}

.buy-btn{
    background-color: white;
    border: 2px solid #1b5e20;
}

.hero-images{
    width: 55px;
    text-align: center;
}

.hero-images img{
    width: 100%;
    max-width: 800px;
    height: auto;
}

