*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial,sans-serif;
    background-color: #f8f8f8;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: white;

}

.logo h2{
    color: #1b5e20;
    font-size: 28px;
    font-weight: bold;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-links a{
    text-decoration: none;
    color: #222;
    font-weight: 600;
}

.nav-links a:hover{
    color: #1b5e20;
    text-decoration: underline;
}

.ticket-btn{
    background-color: #1b5e20;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.ticket-btn:hover{
    background-color: #145a1a;
}

.hero{
    width:100%;
    min-height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 8%;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.15)
    ),
    url("./images/background_trees.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.hero-content{
    width: 45%;
}

.welcome{
  color: #0d5c2f;
  font-weight: 600;
}

.hero h1{
    font-size: 60px;
    line-height: 1.1;
    margin: 20px 0;
}

.hero h1 span{
    color: #1b5e20;
}

.description{
  font-size: 18px;
  color: #222;
  line-height: 1.8;
  margin-bottom: 30px;

}

.hero-buttons{
    display: flex;
    gap: 20px;
}

.explore-btn {
   text-decoration: none;
   padding: 16px 34px;
   border-radius: 12px;
   font-weight: 600;
   font-size: 17px;
   cursor: pointer;
}

.buy-btn{
   text-decoration: none;
   padding: 16px 34px;
   border-radius: 12px;
   font-weight: 600;
   font-size: 17px;
   cursor: pointer;
}

.explore-btn{
    background-color: #0d5c2f;
    color: white;
}
.buy-btn{
   border: 2px solid #0d5c2f;
   color: #0d5c2f;
}

.explore-btn:hover{
    background-color: #0b6d35;
    transition: 0.3s ease;
}

.buy-btn:hover{
    background-color: #ddd;
    transition: 0.3s ease;
}


.hero-images{
    width: 50%;
    display: flex;
    justify-content: center;
}

.hero-images img{
   width: 120%;
   max-width: 750px;
   transform: scale(1.15);
}

.stats{
    width: 85%;
    margin: -50px auto 50px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,.15);
    gap: 20px;
}


.stat-card{
    display: flex;
    text-align: center;
    gap: 20px;
    justify-content: center;
    flex: 1;
    position: relative;
}

.stat-card i{
    font-size: 35px;
    color: #0d5c2f;
  
}
.stat-info{
    display: flex;
    flex-direction: column;
}

.stat-info h2{
    margin: 0;
    color: #111;
    font-size: 25px;
}

.stat-info p{
    margin: 5px 0 0;
    color: #555;
    font-size: 14px;
}

.stat-card:not(:last-child)::after{
    content: "";
    position: absolute;
    right: 0;
    top: 20%;
    height: 60%;
    width: 1px;
    background: #ddd;
    pointer-events: none;
}

.stat-card{
    transition: 0.3s ease;
}

.stat-card:hover{
    transform: translateY(-10px);
}

.h{
    text-decoration: underline;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
    gap: 40px;
}

.about-image {
    flex: 1;
    order: 2;
}

.about-image img {
    width: 100%;
    height: 420px;
    object-fit: cover;
   border-top-left-radius: 280px;
}

.about-content {
    flex: 1;
    order: 1;
}

.about-content h5{
    color: #1b5e20;
    font-size: 18px;
    margin-bottom: 15px;
}

.about-content h2{
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.about-content p {
    color: #666;
    line-height: 1.6;
    font-size: 15;
}

.button{
    background-color: #1b5e20;
    color: white;
    font-size: 14px;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 400;
    cursor: pointer;
}
.button:hover{
    background-color: #25802b;
}

.features{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 0;
    border-top: 1px solid #ddd;
    padding-top: 20px;

}

.features-card{
    padding: 10px 25px;
    border-right: 1px solid #ddd;
}

.features-card:last-child{
    border-right: none;
}

.feature-title{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.feature-title i{
    font-size: 22px;
    color: #185b2a;
}

.feature-title h3{
    font-size: 16px;
    font-weight: 700;
    color: #222;
    margin: 0;
}

.feature-title p{
    font-size: 6px;
    line-height: 1.1;
    color: #666;
    margin: 0;
}

.animals{
    padding: 70px 80px;
    background-color: #f8f8f2;
}

.section-title{
    text-align: center;
    margin-bottom: 30px;
}

.section-title h5{
    color: #1b5e20;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.section-title h2{
    font-size: 42px;
    color: #222;
}

.animal-filter{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
}

.animal-filter button{
    padding: 10px 25px;
    border: 1px solid #ddd;
    border-radius: 30px;
    background-color: #fff;
    cursor: pointer;
    transition: .3s;
}

.animal-filter .active,
.animal-filter button:hover{
    background: #1b5e20;
    color: #fff;
    border-color: #1b5e20;
}

.animal-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
}

.animal-card{
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
    transition: .3s;
}

.animal-card:hover{
    transform: translateY(-8px);
}

.animal-card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.animal-card h3{
    font-size: 20px;
    font-weight: 600;
    padding: 15px 15px 5px;
    color: #222;
    
}

.animal-card p{
    font-size: 12px;
    color: #666;
    padding: 0 15px;
    line-height: 1.6;
}

.animal-card a{
    display: inline-block;
    padding: 15px;
    color: #1b5e20;
    text-decoration: none;
    font-weight: 600;
}

.animal-btn{
    text-align: center;
    margin-top: 35px;
}

.animal-btn a{
    text-decoration: none;
    font-weight: 400;
}

.Tickets{
    padding: 80px;
    background: #f8f8f2;
}

.ticket-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    margin-top: 40px;
}

